* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: block;
    width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 1%;
}

.cats-breed {
    background: rgba(2, 11, 22, 0.75);
    font-family: Kanit;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    color: white;
    font-size: 25px;
}

.image-container {
    height: 200px;
    display: flex;
    justify-content: center;
}

.info {
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    padding-left: 1%;
    padding-top: 1%;
}

.key-word {
    font-weight: bold;
}

.wiki-link {
    color: blue;
}
