* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
}

nav {
    width: 100%;
    height: 145px;
}

.top-actions-container {
    width: 100%;
    height: 95px;
    background-color: #ebf2dc;
    display: flex;
}

.styled-container {
    height: 95px;
}

.logo-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 210px;
    min-width: 190px;
}

.logo-container img:hover {
    cursor: pointer;
}

.browser-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#browser {
    width: 500px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid #90a68a;
    box-shadow: 5px 3px 15px rgba(0, 0, 0, .5);
    font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15px;
    font-size: 19px;
}

.user-menu-container {
    width: 25%;
    text-align: right;
}

.user-menu-container img {
    width: 30px;
    margin-top: 25px;
    margin-right: 78px;
}

.user-menu-container img:hover {
    cursor: pointer;
}

.links-container-father{
    text-align: center;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #5c736f;
}

.links-container {
    display: flex;
    width: 150px;
    height: 100%;
    margin-left: 45px;
}

.links-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
    font-family: Kanit, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    transition: 0.3s;
}

.links-container a:hover {
    background-color: #3B5159;
    text-shadow: 0px 6px 7px rgba(0, 0, 0, .5);
}